In [1]:
import pandas as pd
import requests
import numpy as np
from io import StringIO
import datetime

In [242]:
class TwStockIdvs:
#     對照表
#     m_mapping = {'上市':'sii','上櫃':'otc'}
    base_url = 'https://mops.twse.com.tw/mops/web/'
    p_mapping = {'資產負債表':base_url+'t164sb03'
                ,'綜合損益表':base_url+'t164sb04'
                ,'現金流量表':base_url+'t164sb05'
                ,'權益變動表':base_url+'t164sb06'}
    old_p_mapping = {'資產負債表':base_url+'t05st31'
                ,'綜合損益表':base_url+'t05st34'
                ,'現金流量表':base_url+'t05st39'
                ,'權益變動表':base_url+'t05st38'}
    
    def __init__(self, co_id, year, season, purpose, \
                 isnew=None, p_mapping=p_mapping, old_p_mapping=old_p_mapping):
        cn_year = year if year < 1000 else year-1911
        eg_year = year if year > 1000 else year+1911
        ct_year = datetime.datetime.now().year
        
        if (eg_year>ct_year) or (purpose not in p_mapping):
            print('條件有誤，請重新輸入')
        elif eg_year==ct_year:
            isnew='true'
        elif eg_year<ct_year:
            isnew='false'
            
        p_mapping = p_mapping if cn_year>=102 else old_p_mapping
        
        self.co_id = str(co_id)
        self.year = str(cn_year)
        self.season = '0'+str(season)
        self.purpose = purpose
        self.isnew = isnew
        
        self.url = p_mapping[self.purpose] if self.purpose in p_mapping else None
    
    def add_raw(self):
        form = {"encodeURIComponent": "1",
                "step": "1",
                "firstin": "1",
                "off": "1",
                "keyword4": "",
                "code1": "",
                "TYPEK2": "",
                "checkbtn": "",
                "queryName": "co_id",
                "inpuType": "co_id",
                "TYPEK": "all",
                "isnew": self.isnew,
                "co_id": self.co_id,
                "year": self.year,
                "season": self.season}
        headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) \
                AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
            
        r = requests.post(self.url, form, headers=headers)
        r.encoding = 'utf8'
        self.raw_data = pd.read_html(StringIO(r.text))
        
#     資產負債表
    def unify_baln(self):
#         ifrs 後
        if int(self.year)>=102:
            data = self.raw_data[-2].drop(['Unnamed: 7_level_2', 'Unnamed: 8_level_2'], axis=1, level=2)
            data.columns = data.columns.droplevel([0,1])
            data = data.set_index('會計項目')
            data.index = [i[0] for i in data.index]
            data.columns = data.columns.remove_unused_levels()
            self.data = data
#         ifrs 前
        else:
            data = x.raw_data[-2]
            head = list(set(data.iloc[3]))[1:]
            data.columns = list(data.iloc[2])
            data = data.drop([0,1,2,3])
            data = data.set_index('會計科目')
            time = list(set(data.columns))
            data.columns = pd.MultiIndex.from_product([time, head])
            data.index = list(data.index)
            self.data = data
                
#     損益表
    def unify_incm(self):
#         ifrs 後
        if int(self.year)>=102:
            data = self.raw_data[-2].drop(['Unnamed: 9_level_2'], axis=1, level=2)
            data.columns = data.columns.droplevel([0,1])
            data = data.set_index('會計項目')
            data.index = [i[0] for i in data.index]
            data.columns = data.columns.remove_unused_levels()
            self.data = data
#         ifrs 前
        else:
            data = x.raw_data[-2]
            head = list(set(data.iloc[3]))[1:]
            data.columns = list(data.iloc[2])
            data = data.drop([0,1,2,3])
            data = data.set_index('會計科目')
            time = list(set(data.columns))
            data.columns = pd.MultiIndex.from_product([time, head])
            data.index = list(data.index)
            self.data = data

    def save(self):
        name = f'{self.co_id}_{self.year}_{self.season}_{self.purpose}.csv'
        self.data.to_csv(name, encoding='utf-8')

# ifrs 後 / 資產負債表

In [243]:
x = TwStockIdvs(co_id='1104', year=2019, season=3, purpose='資產負債表')
x.add_raw()
x.unify_baln()

In [244]:
x.data.head()

                        108年09月30日       107年12月31日       107年09月30日
                                金額     %         金額     %         金額      %
流動資產                           NaN   NaN        NaN   NaN        NaN    NaN
現金及約當現金                   227580.0  0.99   269426.0  1.19   222929.0   1.00
透過損益按公允價值衡量之金融資產－流動         1343.0  0.01     1166.0  0.01     1399.0   0.01
透過其他綜合損益按公允價值衡量之金融資產－流動  2266891.0  9.86  2114511.0  9.37  2334918.0  10.46
按攤銷後成本衡量之金融資產－流動           89065.0  0.39    89136.0  0.39    85937.0   0.38

In [245]:
x.save()

# ifrs 前 / 資產負債表

In [260]:
x = TwStockIdvs(co_id='1104', year=2009, season=3, purpose='資產負債表')
x.__dict__

{'co_id': '1104',
 'year': '98',
 'season': '03',
 'purpose': '資產負債表',
 'isnew': 'false',
 'url': 'https://mops.twse.com.tw/mops/web/t05st31'}

In [261]:
x.add_raw()
x.unify_baln()
x.save()

In [262]:
x.data.head()

         97年09月30日        98年09月30日
                金額     ％         金額     ％
資產             NaN   NaN        NaN   NaN
流動資產           NaN   NaN        NaN   NaN
現金及約當現金  192453.00  1.13  132825.00  0.79
應收票據淨額   236729.00  1.39  315293.00  1.88
應收帳款淨額   434471.00  2.56  403666.00  2.41

# ifrs 後 / 綜合損益表

In [249]:
x = TwStockIdvs(co_id='1104', year=2019, season=3, purpose='綜合損益表')
x.add_raw()
x.unify_incm()

In [250]:
x.data.head()

              108年第3季            107年第3季         108年01月01日至108年09月30日         \
                   金額       %         金額       %                    金額      %
營業收入合計      1169889.0  100.00  1121587.0  100.00             3551356.0  100.0
營業成本合計      1035166.0   88.48   981554.0   87.51             3185655.0   89.7
營業毛利（毛損）     134723.0   11.52   140033.0   12.49              365701.0   10.3
營業毛利（毛損）淨額   134723.0   11.52   140033.0   12.49              365701.0   10.3
營業費用              NaN     NaN        NaN     NaN                   NaN    NaN

           107年01月01日至107年09月30日
                              金額       %
營業收入合計                 3436442.0  100.00
營業成本合計                 3031159.0   88.21
營業毛利（毛損）                405283.0   11.79
營業毛利（毛損）淨額              405283.0   11.79
營業費用                         NaN     NaN

In [251]:
x.save()

# ifrs 前 / 綜合損益表

In [263]:
x = TwStockIdvs(co_id='1104', year=2009, season=3, purpose='綜合損益表')
x.add_raw()
x.unify_incm()

In [264]:
x.data.head()

         97年09月30日           98年09月30日
                金額       ％          金額       ％
銷貨收入總額  4692142.00  100.36  6306614.00  100.14
銷貨折讓      17106.00    0.36     9368.00    0.14
銷貨收入淨額  4675036.00  100.00  6297246.00  100.00
營業收入合計  4675036.00  100.00  6297246.00  100.00
銷貨成本    4392465.00   93.95  5899492.00   93.68

In [265]:
x.save()